@import "whitespace-reset.css"
@import "./3rd/icons.css"
@import "./3rd/pikaday.css"
@import "./3rd/dragula.css"
@import "mixins"

basics()

#application
  margin: 0 auto

#application > header
  position: relative
  text-align: center
  height: 40px
  color: colors.headerText
  padding: 5px
  overflow: hidden
  background: colors.dark
  z-index: 10
  #header-search
    display: inline-block
    vertical-align: top
    z-index: 100
    .search-bar
      min-width: 200px
      height: 30px
      border-radius: 3px
      color: #4d4d4d
      margin-right: 5px
      text-align: left
      background: rgba(255,255,255,0.4)
      &:hover
        background: rgba(255,255,255,0.7)
      &:focus
        background: #fff
      .search-input
        height: 100%
        border: none
        outline: none
        padding: 5px 
        background: transparent
      .icon-search
        color: #8c8c8c
        cursor: pointer
      .icon-close
        color: #8c8c8c
        cursor: pointer
        display: none


.search-result
  position: absolute
  width: 600px
  max-height: 95%
  top: 40px
  left: 5px
  border-radius: 3px
  box-shadow: 0 0 6px rgba(0,0,0,0.4)
  background: #edeff0
  padding: 10px
  overflow: auto
  z-index: 30
  h2
    margin: 10px 0
  a
    color: #444
    text-decoration: underline
  .search-warning 
    display: block
    margin: 20px auto
    width: 80%
  .search-result-cards
    li
      overflow: hidden
    .card-thumbnail-fade
      position: absolute
      background: linear-gradient(to bottom,rgba(240,240,240,0) 0,rgba(240,240,240,0) 50%,#f0f0f0 65%,#f0f0f0 100%)
      bottom: 0
      left: 0
      right: 0
      top: 0
      z-index: 2
    .card-thumbnail
      position: relative
      float: left
      width: 180px
      min-height: 64px
      color: colors.cardText
      padding: 6px 6px 2px 8px
      border-radius: 3px
      margin-bottom: 6px
      cursor: pointer
      overflow: hidden
      background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%)
      &:hover
        .card-thumbnail-fade
          background: 0 0
      header
        display: block
        overflow: hidden
    .card-description
      display: block
      padding-left: 190px

#board
  position: absolute
  top: 40px
  right: 0
  bottom: 0
  left: 0
  color: colors.boardText
  padding-bottom: 10px
  margin-bottom: 10px
  overflow-x: auto
  overflow-y: hidden
  user-select: none
  white-space: nowrap
  background: colors.light
  &::-webkit-scrollbar
    width: 12px
  &::-webkit-scrollbar-thumb
    border-radius: 10px
    background: #CDD2D4

#board > header
  position: relative
  color: #fff
  padding: 8px
  overflow: hidden
  .board-header-btn-text
    display: inline-block
    height: 30px
    padding: 5px 8px
    border-radius: 3px
    text-decoration: none
    cursor: pointer
    &:hover
      background: rgba(0,0,0,.12)
   .board-name
      font-size: 18px
      font-weight: 700


#lists
  position: absolute
  top: 40px
  left: 0
  right: 0
  bottom: 10px
  margin: 0 10px

.list
  position: relative
  display: inline-block
  color: colors.listText
  width: 270px
  max-height: 100%
  border-radius: 3px
  vertical-align: top
  flex-direction: column
  background: colors.list
  overflow-y: hidden
  cursor: pointer
  + .list
    margin-left: 10px
  > header
    position: relative
    padding: 8px 10px
    min-height: 18px 
    .list-name-text
      width: 90%
      overflow: hidden
      white-space: pre-wrap
    .list-name-input, 
    .list-name-input-hiddendiv
      display: none
      width: 90%
      min-height: 32px
      font-weight: 700
      font-size: 14px
      line-height: 18px
      padding: 3px 5px
      border-radius: 3px
      margin: -3px -5px
      background: #fff
      border: none
      outline: none
      box-shadow: none
      overflow: hidden
      resize: none
      white-space: pre-wrap

  .list-ops
    position: absolute
    right: 4px
    top: 4px
    z-index: 20
  .list-btn
    border-radius: 3px
  .cards-wrapper
    overflow-y: auto
    overflow-x: hidden
    max-height: 550px
    &::-webkit-scrollbar
      width: 10px
    &::-webkit-scrollbar-thumb
      border-radius: 8px
      background: #C4C9CC
  .cards
    padding: 0 4px
    margin: 0 4px
    min-height: 10px
  > a
    display: block
    padding: 8px 10px
    color: #4d4d4d
    text-decoration: none
    &:hover
      text-decoration: underline


.list-actions-pop-over
  .pop-over-content
    padding: 0
  .actions li > a
    display: block
    font-weight: 700
    padding: 5px 10px
    text-decoration: none
    cursor: pointer
    color: #4d4d4d
    &:hover
      background-color: #298FCA
      color: #fff

.card
  position: relative
  max-width: 300px
  min-height: 20px  
  color: colors.cardText
  padding: 6px 6px 2px 8px
  border-radius: 3px
  border-bottom: 1px solid #ccc
  background: colors.card
  margin-bottom: 6px
  cursor: pointer
  overflow: hidden
  z-index: 10
  &:hover
    background: colors.cardHover
  .card-ops
    position: absolute
    right: 4px
    top: 4px
    z-index: 20
    .card-editor-btn
      border-radius: 3px
  > header
    position: relative
    overflow: hidden
  .name
    margin: 0 0 4px 0
    white-space: normal

.card-composer
  .card-composer-wrapper
    padding: 5px
    background: #fff
    border-radius: 3px  
    .card-composer-input
      display: block
      width: 100%
      height: auto
      padding: 5px 0
      border: 0
      outline: 0
      word-wrap: break-word
      overflow: hidden   
  .card-composer-ops  
    margin:5px 0
    .card-composer-confirm
      display: inline-block
      color: #fff
      line-height: 22px
      font-weight: 700
      text-align: center
      padding: 4px 16px
      border-radius: 3px
      margin-right: 5px
      cursor: pointer
      vertical-align: top
    .card-composer-cancel
      border-radius: 3px
    .card-composer-options
      float: right
      border-radius: 3px

.card-editor
  position: fixed
  top: 0
  left: 0
  right: 0
  bottom: 0
  background: rgba(0,0,0,.6)
  z-index: 20
  .card-editor-close-btn
    position: fixed
    top: 2px
    right 2px
  .card-editor-body
    position: absolute
    background: transparent
    width: 410px
  .card-editor-main
    display: inline-block
    width: 250px
    vertical-align: top
  .card-editor-ops
    width: 160px
    float: right
    vertical-align: top
    background: transparent

  .card-editor-wrapper
    padding: 5px
    background: #fff
    border-radius: 3px
  .card-editor-input,
  .card-editor-input-hiddendiv
    width: 240px
    min-height: 90px 
    padding: 5px 0
    border: 0
    outline: 0
    word-wrap: break-word
    overflow: hidden 
    background: #fff
  .card-editor-input-hiddendiv
    display: none
  .card-editor-save
    display: inline-block
    color: #fff
    line-height: 22px
    font-weight: 700
    text-align: center
    padding: 7px 20px
    margin: 8px 4px 8px 0
    border-radius: 3px
    cursor: pointer
  .card-editor-btn-link
    float: left
    clear: both
    color: #e6e6e6
    display: block
    padding: 6px 9pt 6px 8px
    border-radius: 3px
    margin: 0 0 4px 8px
    text-decoration: none
    background: rgba(0,0,0,.6)
    &:hover
      background: rgba(0,0,0,.8)
      color: #fff
      transform: translateX(5px)
  .card-editor-ops.left
    float: left
  .card-editor-ops.left 
    .card-editor-btn-link
      float: right
      &:hover
        transform: translateX(-5px)

.card-modal
  position: relative
  width: 730px
  border-radius: 3px
  margin: 10px auto
  background-color: #EDEFF0
  z-index: 25
  > header, main
    margin-left: 38px
  .indent
    margin-left: -38px
    vertical-align: top
  section
    margin-bottom: 20px
  h2
    line-height: 30px
    font-size: 18px
    font-weight: 700
    span:last-child
      margin-left: 8px
  h3
    color: #8c8c8c
    font-weight: normal
    margin-bottom: 10px
    overflow: hidden
  p
    color: #8c8c8c
    overflow: hidden

.card-modal > header
  padding: 8px 12px
  margin-right: 4px
  .card-modal-title
    width: 600px
    display: inline-block
    overflow: hidden
    white-space: pre-wrap
  .card-modal-title-input, 
  .card-modal-title-input-hiddendiv
    display: none
    width: 600px
    min-height: 32px
    line-height: 30px
    font-size: 18px
    font-weight: 700
    padding: 3px 5px
    border-radius: 3px
    background: #fff
    border: none
    outline: none
    box-shadow: none
    overflow: hidden
    resize: none
    white-space: pre-wrap
  .dialog-close-btn
    position: absolute
    top: 2px
    right 2px
    text-decoration: none
    &:hover
      color: rgba(0,0,0,.6)
  a
    color: #8c8c8c
    cursor: pointer
    text-decoration: underline

.card-modal > main
  float: left
  width: 530px
  color: colors.cardText
  padding: 8px 12px
  .labels, .badges
    display: inline-block
    margin-right: 28px
    margin-bottom: 16px
    vertical-align: top
  .due-date
    height: 30px
    line-height: 30px
    padding: 0 10px
    border-radius: 3px
    color: #4d4d4d
    background-color: #E2E4E6
    text-align: center
    cursor: pointer
    .due-date-complete-check
      color: transparent
      &:hover
        color: #E2E4E6
    &:hover
      background: #D6DADC
    &.past
      background-color: #EC9488
      .due-date-complete-check
        color: transparent
        &:hover
         color: #E2E4E6
    &.completed
      background-color: #5AAC44
      .due-date-complete-check
        color: #fff
    .due-date-complete-check
      border: 1px solid #fff
      border-radius: 3px
      color: #fff
    .badge-text
      text-decoration: underline
      font-size: 14px
      font-weight: normal
  .description 
    h3
      display: inline-block
      margin-right: 10px
      vertical-align: top
    form
      display: none
  .description-close-btn
    text-decoration: none
    vertical-align: middle
  .card-modal-edit-description,
  .card-modal-edit-comment,
  .card-modal-delete-comment
    text-decoration: underline
    cursor: pointer
    margin: 5px
  .card-modal-create-description
    display: block
    width: 100%
    height: 30px
    line-height: 30px
    cursor: pointer
    text-decoration: underline
    &:hover
      background: #D6DADC
      border-radius: 3px
  .activity
    li
      padding: 10px 0
      border-bottom: 1px solid #E2E4E6
    .user-initials-sm
      vertical-align: middle
    .action
      display: inline-block
    .comment
      display: inline-block
      max-width: 100%
      padding: 5px
      border-radius: 3px
      margin: 5px 0
      background: #fff
      vertical-align: middle
      overflow: hidden
    .comment-ops
      font-size: 12px
    .timestamp
      font-size: 12px
      cursor: pointer
      &:hover
        text-decoration: underline
.card-modal > sidebar
  float: right
  padding: 8px 12px
  width: 160px
  overflow: hidden
  z-index: 10
  .card-modal-btn-link
    position: relative
    display: block
    font-weight: 700
    padding: 7px
    margin-top: 6px
    border-radius: 3px
    text-align: left
    overflow: hidden
    text-overflow: ellipsis
    cursor: pointer
    color: #4d4d4d
    background: linear-gradient(to bottom,#fff 0,#F8F9F9 100%)
    &:hover
      background: #298FCA
    &:focus
      color: inherit
  .card-modal-subscribe .icon-check
    float: right
    border-radius: 3px
    background: #61BD4F

.card-label-pop-over
  .card-label-search
    display: block
    width: 100%
    padding: 7px
    margin: 4px 0 9pt
    border: 1px solid #CDD2D4
    border-color: #A5ACB0
    background-color: #E2E4E6
    border-radius: 3px
    margin-bottom: 9pt
    &:hover
      background:#fff
  .card-label
    display: block
    width: 230px
    min-height: 36px
    padding: 8px
    color: #fff
    font-weight: 700
    border-radius: 3px
    margin: 0 0 4px
    overflow: hidden
    cursor: pointer
    white-space: nowrap
    &:hover
      margin-left: 4px
      box-shadow: -8px 0 rgba(0,0,0,0.5)
    .icon-check
      display: none
      float: right
      color: #fff
    &.selected
      .icon-check
        display: block
  .card-label-edit-btn
    float: right
    width: 36px
    height: 36px
    line-height: 36px
    border-radius: 3px
    &:hover
      background: #D6DADC
  .card-label-add
    display: block
    width: 100%
    height: 30px
    line-height: 30px
    color: rgb(140, 140, 140)
    border-radius: 3px
    cursor: pointer
    text-decoration: underline
    &:hover
      background: #D6DADC
      color: #4d4d4d

.card-duedate-pop-over
  .card-duedate-date, .card-duedate-time  
    width: 130px
    display: inline-block
  .card-duedate-time
    float: right
  .card-duedate-time input, 
  .card-duedate-date input
    display: block
    width: 100%
    padding: 7px
    margin: 4px 0
    border-radius: 3px
    border: 1px solid #CDD2D4
    background-color: #E2E4E6
    &:focus
      background: #fff
      border-color: #298FCA
      outline: none
      box-shadow: 0 0 2px #298FCA
    &.invalid
      border-color: #EB5A46
  .duedate-save, .duedate-remove
    display: inline-block
    width: 100px
  .duedate-remove
    float: right

// pikaday theme
.pika-single
  border-radius: 3px
  padding: 5px
.pika-lendar
  margin: 0 auto
  float: none
  .pika-prev, .pika-next
    width: auto
    text-indent: 0
    padding: 0 4px
    border-radius: 3px
    background-image: none
    text-decoration: underline
    &:hover
      color: #4d4d4d
      background-color: #D6DADC
  .pika-select-month, .pika-select-year
    padding: 0 4px
    border-radius: 3px
    text-decoration: underline
    &:hover
      color: #4d4d4d
      background-color: #D6DADC
  table
    border-collapse: collapse
    border-spacing: 0
  th, td
    font-size: 14px
    text-align: center
    border: 1px solid #D6DADC
  th
    color: #4d4d4d
  .pika-button
    line-height: 22px
    font-size: 14px
    text-align: center
    border-radius: 0
    &:hover
      background-color: #D6DADC
  .is-selected .pika-button
    color: #fff
    background: #0079BF
    &:hover
      opacity: 0.5

.card-label-edit-pop-over
  .card-label-name
    display: block
    width: 100%
    padding: 7px
    margin: 4px 0 9pt
    border: 1px solid #CDD2D4
    border-color: #A5ACB0
    background-color: #E2E4E6
    border-radius: 3px
    margin-bottom: 9pt
    &:hover
      background:#fff
  .card-label-color-list
    display: inline
    .label-edit-color-btn
      display: inline-block
      width: 45px
      height: 35px
      line-height: 35px
      text-align: center
      border-radius: 3px
      margin: 5px
      cursor: pointer
      vertical-align: top
      &:hover
        opacity: 0.5
      .icon-check
        display: none
    .label-edit-color-btn.selected .icon-check
      display: inline-block
      color: #fff
  .nocolor-notes
    width: 200px
    display: inline-block
    vertical-align: top
  .label-edit-save
    outline: 0
    border: 0
    background: linear-gradient(to bottom,#61BD4F 0,#5AAC44 100%)
    box-shadow: 0 1px 0 #3F6F21
    color: #fff
    &:hover
      background: linear-gradient(#5AAC44 0%, #519839 100%)
  .label-edit-delete
    float: right
.card-label-delete-pop-over
  .label-delete-confirm
    width: 100%

// DnD
.list-placeholder
  background: #0067a3
  min-height: 75px
  transform: none
.card-placeholder
  background: #C4C9CC
  min-height: 20px
  transform: none
.dragging
  transform: rotate(5deg)


// menu

.board-menu
  position: absolute
  width: 305px
  top: 40px
  right: 0
  bottom: 30px
  z-index: 30
  box-shadow: 0 0 6px rgba(0,0,0,.4)
  background: #EDEFF0
  overflow: auto  
  .board-menu-header-title
    line-height: 20px
    margin: 13px 30px
    text-align: center
  .board-menu-header-close-button
    position: absolute
    top: 10px
    right: 10px
  .board-menu-content
    padding 8px
  .board-menu-navigation-item
    border-radius: 3px
    display: block
    font-weight: 700
    line-height: 20px
    padding: 6px
    position: relative
    cursor: pointer
    &:hover
      background-color: #D6DADC
  .board-menu-activities
    margin-left: 40px
    li
      padding: 10px 0
    li + li
      border-top: 1px solid #E2E4E6
    p
      display: inline-block
    .indent
      margin-left: -40px


.notification
  position: absolute
  width: 450px
  max-height: 600px
  top: 40px
  right: 5px
  z-index: 30
  box-shadow: 0 0 6px rgba(0,0,0,.4)
  background: #EDEFF0
  overflow: auto
  .notification-header-title
    line-height: 20px
    margin: 13px 30px
    text-align: center
  .notification-header-close-button
    position: absolute
    top: 10px
    right: 10px
  .notification-content
    padding 8px
    .notification-activities
      margin-left: 40px
      li
        padding: 10px 0
      li + li
        border-top: 1px solid #E2E4E6
      p
        display: inline-block
      .indent
        margin-left: -40px

.card-copy-pop-over, 
.card-move-pop-over, 
.list-add-pop-over,
.list-copy-pop-over,
.list-move-pop-over
  textarea
    width: 100%
    display: block
    background: #E2E4E6
    &:focus
      background: #fff
  input[type="checkbox"]
    vertical-align: middle
  input[type="text"]
    display: block
    padding: 3px
    background-color: #fff
    border: 1px solid #CDD2D4
    border-radius: 3px
  p
    margin: 0 0 5px 0 
    
  .left
    width: 200px
    float: left
  .right
    width: 75px
    float: right
  .button-link
    position: relative
    height: 50px
    cursor: pointer
    padding: 5px
    border: 1px solid #E2E4E6
    border-radius: 3px
    background: linear-gradient(to bottom,#fff 0,#F8F9F9 100%)
    white-space: pre-wrap
    overflow: hidden
    &:hover
      background: #298FCA
      color: #fff
    label
      display: block
    p
      font-size: 18px
      font-weight: bold
      text-overflow: ellipsis
      white-space: nowrap
      overflow: hidden
    select
      position: absolute
      top: 0
      left: 0
      margin: 0
      width: 100%
      height: 50px
      opacity: 0
      z-index: 2
      border: none
      cursor: pointer
.pop-over input[type="submit"]  
    display: inline-block
    color: #fff
    line-height: 22px
    font-weight: 700
    text-align: center
    padding: 7px 20px
    margin: 8px 4px 8px 0
    border-radius: 3px
    cursor: pointer

 
