@import "whitespace-reset.css"
@import "./3rd/icons.css"
@import "mixins"

basics()

#application
  margin: 0 auto

#application > header
  position: relative
  height: 40px
  color: colors.headerText
  padding: 5px
  overflow: hidden
  background: colors.dark
  z-index: 10

#board
  position: absolute
  top: 30px
  right: 0
  bottom: 0
  left: 0
  color: colors.boardText
  padding-bottom: 10px
  margin-bottom: 10px
  overflow-x: auto
  overflow-y: hidden
  user-select: none
  white-space: nowrap
  background: colors.light

#board > header
  position: relative
  color: #fff
  padding: 8px 4px 8px 8px
  overflow: hidden

#lists
  margin: 10px
  width: 100%
  height: 100%

.list
  position: relative
  display: inline-block
  color: colors.listText
  width: 270px
  max-height: 100%
  border-radius: 3px
  vertical-align: top
  flex-direction: column
  background: colors.list
  overflow-y: auto
  overflow-x: hidden
  + .list
    margin-left: 10px
  > header
    position: relative
    padding: 8px 10px
    min-height: 18px 
  .list-ops
    position: absolute
    right: 4px
    top: 4px
    z-index: 20
  .list-btn
    border-radius: 3px
  .cards
    padding: 0 4px
    margin: 0 4px
  > a
    display: block
    padding: 8px 10px
    color: #4d4d4d
    text-decoration: none
    &:hover
      text-decoration: underline

.card
  position: relative
  max-width: 300px
  min-height: 20px  
  color: colors.cardText
  padding: 6px 6px 2px 8px
  border-radius: 3px
  border-bottom: 1px solid #ccc
  background: colors.card
  margin-bottom: 6px
  cursor: pointer
  overflow: hidden
  z-index: 10
  &:hover
    background: colors.cardHover
  .card-ops
    position: absolute
    right: 4px
    top: 4px
    z-index: 20
    .card-edit
      border-radius: 3px
  > header
    position: relative
    overflow: hidden
  .label
    float: left
    color: #fff
    height: 8px
    padding: 3px 6px
    margin: 0 3px 3px 0 
    width: 42px
    max-width: 100%
    border-radius: 3px
    text-overflow: ellipsis
  .name
    margin: 0 0 4px 0
  .badge
    display: inline-block
    max-width: 100%
    color: #8c8c8c
    padding: 1px 2px
    margin: 0 4px 4px 0
    overflow: hidden
    text-decoration: none
    //text-overflow: ellipsis
    vertical-align: top
  .badge.past
    border-radius: 3px
    background-color: #EC9488
    span
      color: #fff

.card-modal
  position: relative
  width: 730px
  border-radius: 3px
  margin: 10px auto
  background-color: #EDEFF0
  z-index: 25
  > header, main
    margin-left: 38px
  .indent
    margin-left: -38px
  section
    margin-bottom: 20px
  h2
    height: 30px
    line-height: 30px
    font-size: 18px
    font-weight: 700
    span:last-child
      margin-left: 8px
  h3
    color: #8c8c8c
    font-weight: normal
    margin-bottom: 10px
  p
    color: #8c8c8c



.card-modal > header
  padding: 8px 12px
  margin-right: 4px
  .dialog-close-btn
    position: absolute
    top: 2px
    right 2px
    text-decoration: none
    &:hover
      color: rgba(0,0,0,.6)
  a
    color: #8c8c8c
    cursor: pointer
    text-decoration: underline

.card-modal > main
  float: left
  width: 530px
  color: colors.cardText
  padding: 8px 12px
  .labels
    margin-right: 28px
    margin-bottom: 16px
  .description 
    h3
      display: inline-block
      margin-right: 10px
    a
      color: #8c8c8c
      cursor: pointer
      text-decoration: underline
  .card-modal-edit-description
    display: block
    width: 100%
    height: 30px
    line-height: 30px
    cursor: pointer
    text-decoration: underline
    &:hover
      background: #D6DADC
      border-radius: 3px

.card-modal > sidebar
  float: right
  padding: 8px 12px
  width: 160px
  overflow: hidden
  z-index: 10
  .card-modal-btn-link
    position: relative
    display: block
    font-weight: 700
    padding: 7px
    margin-top: 6px
    border-radius: 3px
    text-align: left
    overflow: hidden
    text-overflow: ellipsis
    cursor: pointer
    background: linear-gradient(to bottom,#fff 0,#F8F9F9 100%)
    &:hover
      background: #298FCA
    &:focus
      color: inherit

.card-label-pop-over
  .card-label-search
    display: block
    width: 100%
    padding: 7px
    margin: 4px 0 9pt
    border: 1px solid #CDD2D4
    border-color: #A5ACB0
    background-color: #E2E4E6
    border-radius: 3px
    margin-bottom: 9pt
  .card-label
    display: block
    width: 230px
    min-height: 18px
    padding: 8px
    color: #fff
    font-weight: 700
    border-radius: 3px
    margin: 0 0 4px
    overflow: hidden
    cursor: pointer
    white-space: nowrap
    &:hover
      margin-left: 4px
      box-shadow: -8px 0 rgba(0,0,0,0.5)
    .icon-check
      float: right
  .card-label-edit-btn
    float: right
    width: 36px
    height: 36px
    line-height: 36px
    border-radius: 3px
    &:hover
      background: #D6DADC
  .card-label-add
    display: block
    width: 100%
    height: 30px
    line-height: 30px
    color: rgb(140, 140, 140)
    border-radius: 3px
    cursor: pointer
    text-decoration: underline
    &:hover
      background: #D6DADC
      color: #4d4d4d