@import "whitespace-reset.css";
@import "./3rd/icons.css";
@import "./3rd/pikaday.css";
@import "./3rd/dragula.css";
.header-btn {
  display: inline-block;
  height: 30px;
  width: 30px;
  text-align: center;
  border-radius: 3px;
  margin-right: 8px;
  background-color: #0079bf;
  vertical-align: top;
}
.header-btn:hover {
  cursor: pointer;
  color: #fff;
  background: linear-gradient(to bottom, rgba(255,255,255,0.4) 0, rgba(255,255,255,0.3) 100%);
}
.user-initials,
.user-initials-sm {
  display: inline-block;
  height: 30px;
  width: 30px;
  text-align: center;
  border-radius: 3px;
  margin-right: 8px;
  background-color: #cdd2d4;
  vertical-align: top;
}
.user-initials-sm {
  width: 24px;
  height: 24px;
}
.user-initials:before,
.user-initials-sm:before {
  content: "K";
  color: #4d4d4d;
  font-size: 16px;
  height: 30px;
  line-height: 30px;
}
.user-initials-sm:before {
  height: 24px;
  line-height: 24px;
}
.header-brand {
  display: inline-block;
  height: 30px;
  width: 80px;
  margin: 0 auto;
  background-image: url("/images/header-logo.png");
  background-color: transparent;
}
.dark-hover:hover {
  background: #cdd2d4;
}
.badge-text {
  font-size: 9pt;
  padding: 0 2px;
  white-space: nowrap;
}
.description-input,
.comment-input {
  background: 0 0;
  width: 100%;
  height: 75px;
  margin: 0;
  min-height: 75px;
  border: 0;
  background: #fff;
}
.description-input:focus,
.comment-input:focus,
.description-input:active,
.comment-input:active {
  outline: 0;
  box-shadow: none;
}
.description-input {
  background: rgba(0,0,0,0.03);
  border-color: rgba(0,0,0,0.15);
  box-shadow: inset 0 1px 6px rgba(0,0,0,0.1);
  margin-bottom: 4px;
}
.card-modal-btn {
  display: inline-block;
  color: #fff;
  line-height: 22px;
  font-weight: 700;
  text-align: center;
  padding: 7px 20px;
  margin: 8px 4px 8px 0;
  border-radius: 3px;
  cursor: pointer;
}
.card-modal-label {
  display: inline-block;
  color: #fff;
  height: 30px;
  min-width: 45px;
  line-height: 22px;
  font-weight: 700;
  text-align: center;
  padding: 4px 10px;
  margin: 0px 4px 4px 0;
  border-radius: 3px;
  cursor: pointer;
  vertical-align: top;
}
.card-modal-label:hover {
  opacity: 0.8;
}
.card-modal-add-label {
  display: inline-block;
  color: #8c8c8c;
  border-radius: 3px;
  background: #e2e4e6;
  vertical-align: top;
  cursor: pointer;
}
.card-modal-add-label:hover {
  background: #d6dadc;
  border-radius: 3px;
}
.pop-over {
  position: absolute;
  width: 300px;
  background: #fff;
  border-radius: 3px;
  border: 1px solid #d6dadc;
  border-bottom-color: #c4c9cc;
  box-shadow: 0 1px 6px rgba(0,0,0,0.15);
  overflow: hidden;
  z-index: 70;
}
.pop-over h2 {
  font-size: 14px;
  margin-bottom: 8px;
}
.pop-over .pop-over-header {
  height: 36px;
  margin-bottom: 8px;
  text-align: center;
}
.pop-over .pop-over-header-title {
  color: #8c8c8c;
  display: block;
  line-height: 36px;
  border-bottom: 1px solid #d6dadc;
  margin: 0 10px;
}
.pop-over .pop-over-header-back-btn {
  position: absolute;
  top: 0;
  left: 0;
  width: 36px;
  height: 36px;
  line-height: 36px;
  color: #4d4d4d;
  z-index: 2;
}
.pop-over .pop-over-header-close-btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 36px;
  height: 36px;
  line-height: 36px;
  color: #4d4d4d;
  z-index: 2;
}
.pop-over .pop-over-content {
  padding: 0 10px 10px;
}
.label-sm {
  float: left;
  color: #fff;
  height: 8px;
  padding: 3px 6px;
  margin: 0 3px 3px 0;
  width: 42px;
  max-width: 100%;
  border-radius: 3px;
  text-overflow: ellipsis;
}
.badge {
  display: inline-block;
  max-width: 100%;
  color: #8c8c8c;
  padding: 1px 2px;
  margin: 0 4px 4px 0;
  overflow: hidden;
  text-decoration: none;
  text-overflow: ellipsis;
  vertical-align: top;
}
.badge.past {
  border-radius: 3px;
  background-color: #ec9488;
}
.badge.past span {
  color: #fff;
}
.badge.completed {
  background-color: #5aac44;
  border-radius: 3px;
}
.badge.completed span {
  color: #fff;
}
/* box-sizing reset */
html {
  box-sizing: border-box;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}
/* native implementationi reset */
textarea,
input,
button,
select {
  font-family: inherit;
  font-size: inherit;
}
/* clearfix */
.clearfix::after {
  content: "";
  display: block;
  visibility: hidden;
  clear: both;
}
html {
  color: #4d4d4d;
  font: 14px "Helvetica Neue", Arial, Helvetica, sans-serif;
  line-height: 18px;
  background: #026aa7;
}
a {
  text-decoration: none;
}
a:active,
a:hover {
  outline: 0;
}
hr {
  background: #d6dadc;
  border: 0;
  color: #d6dadc;
  height: 1px;
  margin: 5pt 0;
  width: 100%;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.6);
  z-index: 20;
}
.text-underline {
  text-decoration: underline;
}
.section-divider {
  margin: 15px 0;
}
textarea {
  padding: 9px 11px;
  border-radius: 3px;
  resize: none;
  transition: background 85ms ease-in, border-color 85ms ease-in;
}
input[type="submit"] {
  outline: 0;
  border: 0;
  background: linear-gradient(to bottom, #61bd4f 0, #5aac44 100%);
  box-shadow: 0 1px 0 #3f6f21;
  color: #fff;
}
input[type="submit"]:hover {
  background: linear-gradient(#5aac44 0%, #519839 100%);
}
input[type="reset"] {
  outline: 0;
  border: 0;
  color: #b04632;
}
input[type="reset"]:hover {
  color: #fff;
  background: linear-gradient(to bottom, #cf513d 0, #b04632 100%);
}
li {
  list-style: none;
}
#application {
  margin: 0 auto;
}
#application > header {
  position: relative;
  text-align: center;
  height: 40px;
  color: #c4c9cc;
  padding: 5px;
  overflow: hidden;
  background: #0067a3;
  z-index: 10;
}
#application > header #header-search {
  display: inline-block;
  vertical-align: top;
  z-index: 100;
}
#application > header #header-search .search-bar {
  min-width: 200px;
  height: 30px;
  border-radius: 3px;
  color: #4d4d4d;
  margin-right: 5px;
  text-align: left;
  background: rgba(255,255,255,0.4);
}
#application > header #header-search .search-bar:hover {
  background: rgba(255,255,255,0.7);
}
#application > header #header-search .search-bar:focus {
  background: #fff;
}
#application > header #header-search .search-bar .search-input {
  height: 100%;
  border: none;
  outline: none;
  padding: 5px;
  background: transparent;
}
#application > header #header-search .search-bar .icon-search {
  color: #8c8c8c;
  cursor: pointer;
}
#application > header #header-search .search-bar .icon-close {
  color: #8c8c8c;
  cursor: pointer;
  display: none;
}
.search-result {
  position: absolute;
  width: 600px;
  max-height: 95%;
  top: 40px;
  left: 5px;
  border-radius: 3px;
  box-shadow: 0 0 6px rgba(0,0,0,0.4);
  background: #edeff0;
  padding: 10px;
  overflow: auto;
  z-index: 30;
}
.search-result h2 {
  margin: 10px 0;
}
.search-result a {
  color: #444;
  text-decoration: underline;
}
.search-result .search-warning {
  display: block;
  margin: 20px auto;
  width: 80%;
}
.search-result .search-result-cards li {
  overflow: hidden;
}
.search-result .search-result-cards .card-thumbnail-fade {
  position: absolute;
  background: linear-gradient(to bottom, rgba(240,240,240,0) 0, rgba(240,240,240,0) 50%, #f0f0f0 65%, #f0f0f0 100%);
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  z-index: 2;
}
.search-result .search-result-cards .card-thumbnail {
  position: relative;
  float: left;
  width: 180px;
  min-height: 64px;
  color: #4d4d4d;
  padding: 6px 6px 2px 8px;
  border-radius: 3px;
  margin-bottom: 6px;
  cursor: pointer;
  overflow: hidden;
  background: linear-gradient(to bottom, #fff 0%, rgba(255,255,255,0) 100%);
}
.search-result .search-result-cards .card-thumbnail:hover .card-thumbnail-fade {
  background: 0 0;
}
.search-result .search-result-cards .card-thumbnail header {
  display: block;
  overflow: hidden;
}
.search-result .search-result-cards .card-description {
  display: block;
  padding-left: 190px;
}
#board {
  position: absolute;
  top: 40px;
  right: 0;
  bottom: 0;
  left: 0;
  color: #4d4d4d;
  padding-bottom: 10px;
  margin-bottom: 10px;
  overflow-x: auto;
  overflow-y: hidden;
  user-select: none;
  white-space: nowrap;
  background: #0079bf;
}
#board::-webkit-scrollbar {
  width: 12px;
}
#board::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #cdd2d4;
}
#board > header {
  position: relative;
  color: #fff;
  padding: 8px;
  overflow: hidden;
}
#board > header .board-header-btn-text {
  display: inline-block;
  height: 30px;
  padding: 5px 8px;
  border-radius: 3px;
  text-decoration: none;
  cursor: pointer;
}
#board > header .board-header-btn-text:hover {
  background: rgba(0,0,0,0.12);
}
#board > header .board-name {
  font-size: 18px;
  font-weight: 700;
}
#lists {
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
  bottom: 10px;
  margin: 0 10px;
}
.list {
  position: relative;
  display: inline-block;
  color: #4d4d4d;
  width: 270px;
  max-height: 100%;
  border-radius: 3px;
  vertical-align: top;
  flex-direction: column;
  background: #e2e4e6;
  overflow-y: hidden;
  cursor: pointer;
}
.list + .list {
  margin-left: 10px;
}
.list > header {
  position: relative;
  padding: 8px 10px;
  min-height: 18px;
}
.list > header .list-name-text {
  width: 90%;
  overflow: hidden;
  white-space: pre-wrap;
}
.list > header .list-name-input,
.list > header .list-name-input-hiddendiv {
  display: none;
  width: 90%;
  min-height: 32px;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  padding: 3px 5px;
  border-radius: 3px;
  margin: -3px -5px;
  background: #fff;
  border: none;
  outline: none;
  box-shadow: none;
  overflow: hidden;
  resize: none;
  white-space: pre-wrap;
}
.list .list-ops {
  position: absolute;
  right: 4px;
  top: 4px;
  z-index: 20;
}
.list .list-btn {
  border-radius: 3px;
}
.list .cards-wrapper {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 550px;
}
.list .cards-wrapper::-webkit-scrollbar {
  width: 10px;
}
.list .cards-wrapper::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: #c4c9cc;
}
.list .cards {
  padding: 0 4px;
  margin: 0 4px;
  min-height: 10px;
}
.list > a {
  display: block;
  padding: 8px 10px;
  color: #4d4d4d;
  text-decoration: none;
}
.list > a:hover {
  text-decoration: underline;
}
.list-actions-pop-over .pop-over-content {
  padding: 0;
}
.list-actions-pop-over .actions li > a {
  display: block;
  font-weight: 700;
  padding: 5px 10px;
  text-decoration: none;
  cursor: pointer;
  color: #4d4d4d;
}
.list-actions-pop-over .actions li > a:hover {
  background-color: #298fca;
  color: #fff;
}
.card {
  position: relative;
  max-width: 300px;
  min-height: 20px;
  color: #4d4d4d;
  padding: 6px 6px 2px 8px;
  border-radius: 3px;
  border-bottom: 1px solid #ccc;
  background: #fff;
  margin-bottom: 6px;
  cursor: pointer;
  overflow: hidden;
  z-index: 10;
}
.card:hover {
  background: #edeff0;
}
.card .card-ops {
  position: absolute;
  right: 4px;
  top: 4px;
  z-index: 20;
}
.card .card-ops .card-editor-btn {
  border-radius: 3px;
}
.card > header {
  position: relative;
  overflow: hidden;
}
.card .name {
  margin: 0 0 4px 0;
  white-space: normal;
}
.card-composer .card-composer-wrapper {
  padding: 5px;
  background: #fff;
  border-radius: 3px;
}
.card-composer .card-composer-wrapper .card-composer-input {
  display: block;
  width: 100%;
  height: auto;
  padding: 5px 0;
  border: 0;
  outline: 0;
  word-wrap: break-word;
  overflow: hidden;
}
.card-composer .card-composer-ops {
  margin: 5px 0;
}
.card-composer .card-composer-ops .card-composer-confirm {
  display: inline-block;
  color: #fff;
  line-height: 22px;
  font-weight: 700;
  text-align: center;
  padding: 4px 16px;
  border-radius: 3px;
  margin-right: 5px;
  cursor: pointer;
  vertical-align: top;
}
.card-composer .card-composer-ops .card-composer-cancel {
  border-radius: 3px;
}
.card-composer .card-composer-ops .card-composer-options {
  float: right;
  border-radius: 3px;
}
.card-editor {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.6);
  z-index: 20;
}
.card-editor .card-editor-close-btn {
  position: fixed;
  top: 2px;
  right: 2px;
}
.card-editor .card-editor-body {
  position: absolute;
  background: transparent;
  width: 410px;
}
.card-editor .card-editor-main {
  display: inline-block;
  width: 250px;
  vertical-align: top;
}
.card-editor .card-editor-ops {
  width: 160px;
  float: right;
  vertical-align: top;
  background: transparent;
}
.card-editor .card-editor-wrapper {
  padding: 5px;
  background: #fff;
  border-radius: 3px;
}
.card-editor .card-editor-input,
.card-editor .card-editor-input-hiddendiv {
  width: 240px;
  min-height: 90px;
  padding: 5px 0;
  border: 0;
  outline: 0;
  word-wrap: break-word;
  overflow: hidden;
  background: #fff;
}
.card-editor .card-editor-input-hiddendiv {
  display: none;
}
.card-editor .card-editor-save {
  display: inline-block;
  color: #fff;
  line-height: 22px;
  font-weight: 700;
  text-align: center;
  padding: 7px 20px;
  margin: 8px 4px 8px 0;
  border-radius: 3px;
  cursor: pointer;
}
.card-editor .card-editor-btn-link {
  float: left;
  clear: both;
  color: #e6e6e6;
  display: block;
  padding: 6px 9pt 6px 8px;
  border-radius: 3px;
  margin: 0 0 4px 8px;
  text-decoration: none;
  background: rgba(0,0,0,0.6);
}
.card-editor .card-editor-btn-link:hover {
  background: rgba(0,0,0,0.8);
  color: #fff;
  transform: translateX(5px);
}
.card-editor .card-editor-ops.left {
  float: left;
}
.card-editor .card-editor-ops.left .card-editor-btn-link {
  float: right;
}
.card-editor .card-editor-ops.left .card-editor-btn-link:hover {
  transform: translateX(-5px);
}
.card-modal {
  position: relative;
  width: 730px;
  border-radius: 3px;
  margin: 10px auto;
  background-color: #edeff0;
  z-index: 25;
}
.card-modal > header,
.card-modal main {
  margin-left: 38px;
}
.card-modal .indent {
  margin-left: -38px;
  vertical-align: top;
}
.card-modal section {
  margin-bottom: 20px;
}
.card-modal h2 {
  line-height: 30px;
  font-size: 18px;
  font-weight: 700;
}
.card-modal h2 span:last-child {
  margin-left: 8px;
}
.card-modal h3 {
  color: #8c8c8c;
  font-weight: normal;
  margin-bottom: 10px;
  overflow: hidden;
}
.card-modal p {
  color: #8c8c8c;
  overflow: hidden;
}
.card-modal > header {
  padding: 8px 12px;
  margin-right: 4px;
}
.card-modal > header .card-modal-title {
  width: 600px;
  display: inline-block;
  overflow: hidden;
  white-space: pre-wrap;
}
.card-modal > header .card-modal-title-input,
.card-modal > header .card-modal-title-input-hiddendiv {
  display: none;
  width: 600px;
  min-height: 32px;
  line-height: 30px;
  font-size: 18px;
  font-weight: 700;
  padding: 3px 5px;
  border-radius: 3px;
  background: #fff;
  border: none;
  outline: none;
  box-shadow: none;
  overflow: hidden;
  resize: none;
  white-space: pre-wrap;
}
.card-modal > header .dialog-close-btn {
  position: absolute;
  top: 2px;
  right: 2px;
  text-decoration: none;
}
.card-modal > header .dialog-close-btn:hover {
  color: rgba(0,0,0,0.6);
}
.card-modal > header a {
  color: #8c8c8c;
  cursor: pointer;
  text-decoration: underline;
}
.card-modal > main {
  float: left;
  width: 530px;
  color: #4d4d4d;
  padding: 8px 12px;
}
.card-modal > main .labels,
.card-modal > main .badges {
  display: inline-block;
  margin-right: 28px;
  margin-bottom: 16px;
  vertical-align: top;
}
.card-modal > main .due-date {
  height: 30px;
  line-height: 30px;
  padding: 0 10px;
  border-radius: 3px;
  color: #4d4d4d;
  background-color: #e2e4e6;
  text-align: center;
  cursor: pointer;
}
.card-modal > main .due-date .due-date-complete-check {
  color: transparent;
}
.card-modal > main .due-date .due-date-complete-check:hover {
  color: #e2e4e6;
}
.card-modal > main .due-date:hover {
  background: #d6dadc;
}
.card-modal > main .due-date.past {
  background-color: #ec9488;
}
.card-modal > main .due-date.past .due-date-complete-check {
  color: transparent;
}
.card-modal > main .due-date.past .due-date-complete-check:hover {
  color: #e2e4e6;
}
.card-modal > main .due-date.completed {
  background-color: #5aac44;
}
.card-modal > main .due-date.completed .due-date-complete-check {
  color: #fff;
}
.card-modal > main .due-date .due-date-complete-check {
  border: 1px solid #fff;
  border-radius: 3px;
  color: #fff;
}
.card-modal > main .due-date .badge-text {
  text-decoration: underline;
  font-size: 14px;
  font-weight: normal;
}
.card-modal > main .description h3 {
  display: inline-block;
  margin-right: 10px;
  vertical-align: top;
}
.card-modal > main .description form {
  display: none;
}
.card-modal > main .description-close-btn {
  text-decoration: none;
  vertical-align: middle;
}
.card-modal > main .card-modal-edit-description,
.card-modal > main .card-modal-edit-comment,
.card-modal > main .card-modal-delete-comment {
  text-decoration: underline;
  cursor: pointer;
  margin: 5px;
}
.card-modal > main .card-modal-create-description {
  display: block;
  width: 100%;
  height: 30px;
  line-height: 30px;
  cursor: pointer;
  text-decoration: underline;
}
.card-modal > main .card-modal-create-description:hover {
  background: #d6dadc;
  border-radius: 3px;
}
.card-modal > main .activity li {
  padding: 10px 0;
  border-bottom: 1px solid #e2e4e6;
}
.card-modal > main .activity .user-initials-sm {
  vertical-align: middle;
}
.card-modal > main .activity .action {
  display: inline-block;
}
.card-modal > main .activity .comment {
  display: inline-block;
  max-width: 100%;
  padding: 5px;
  border-radius: 3px;
  margin: 5px 0;
  background: #fff;
  vertical-align: middle;
  overflow: hidden;
}
.card-modal > main .activity .comment-ops {
  font-size: 12px;
}
.card-modal > main .activity .timestamp {
  font-size: 12px;
  cursor: pointer;
}
.card-modal > main .activity .timestamp:hover {
  text-decoration: underline;
}
.card-modal > sidebar {
  float: right;
  padding: 8px 12px;
  width: 160px;
  overflow: hidden;
  z-index: 10;
}
.card-modal > sidebar .card-modal-btn-link {
  position: relative;
  display: block;
  font-weight: 700;
  padding: 7px;
  margin-top: 6px;
  border-radius: 3px;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
  color: #4d4d4d;
  background: linear-gradient(to bottom, #fff 0, #f8f9f9 100%);
}
.card-modal > sidebar .card-modal-btn-link:hover {
  background: #298fca;
}
.card-modal > sidebar .card-modal-btn-link:focus {
  color: inherit;
}
.card-modal > sidebar .card-modal-subscribe .icon-check {
  float: right;
  border-radius: 3px;
  background: #61bd4f;
}
.card-label-pop-over .card-label-search {
  display: block;
  width: 100%;
  padding: 7px;
  margin: 4px 0 9pt;
  border: 1px solid #cdd2d4;
  border-color: #a5acb0;
  background-color: #e2e4e6;
  border-radius: 3px;
  margin-bottom: 9pt;
}
.card-label-pop-over .card-label-search:hover {
  background: #fff;
}
.card-label-pop-over .card-label {
  display: block;
  width: 230px;
  min-height: 36px;
  padding: 8px;
  color: #fff;
  font-weight: 700;
  border-radius: 3px;
  margin: 0 0 4px;
  overflow: hidden;
  cursor: pointer;
  white-space: nowrap;
}
.card-label-pop-over .card-label:hover {
  margin-left: 4px;
  box-shadow: -8px 0 rgba(0,0,0,0.5);
}
.card-label-pop-over .card-label .icon-check {
  display: none;
  float: right;
  color: #fff;
}
.card-label-pop-over .card-label.selected .icon-check {
  display: block;
}
.card-label-pop-over .card-label-edit-btn {
  float: right;
  width: 36px;
  height: 36px;
  line-height: 36px;
  border-radius: 3px;
}
.card-label-pop-over .card-label-edit-btn:hover {
  background: #d6dadc;
}
.card-label-pop-over .card-label-add {
  display: block;
  width: 100%;
  height: 30px;
  line-height: 30px;
  color: #8c8c8c;
  border-radius: 3px;
  cursor: pointer;
  text-decoration: underline;
}
.card-label-pop-over .card-label-add:hover {
  background: #d6dadc;
  color: #4d4d4d;
}
.card-duedate-pop-over .card-duedate-date,
.card-duedate-pop-over .card-duedate-time {
  width: 130px;
  display: inline-block;
}
.card-duedate-pop-over .card-duedate-time {
  float: right;
}
.card-duedate-pop-over .card-duedate-time input,
.card-duedate-pop-over .card-duedate-date input {
  display: block;
  width: 100%;
  padding: 7px;
  margin: 4px 0;
  border-radius: 3px;
  border: 1px solid #cdd2d4;
  background-color: #e2e4e6;
}
.card-duedate-pop-over .card-duedate-time input:focus,
.card-duedate-pop-over .card-duedate-date input:focus {
  background: #fff;
  border-color: #298fca;
  outline: none;
  box-shadow: 0 0 2px #298fca;
}
.card-duedate-pop-over .card-duedate-time input.invalid,
.card-duedate-pop-over .card-duedate-date input.invalid {
  border-color: #eb5a46;
}
.card-duedate-pop-over .duedate-save,
.card-duedate-pop-over .duedate-remove {
  display: inline-block;
  width: 100px;
}
.card-duedate-pop-over .duedate-remove {
  float: right;
}
.pika-single {
  border-radius: 3px;
  padding: 5px;
}
.pika-lendar {
  margin: 0 auto;
  float: none;
}
.pika-lendar .pika-prev,
.pika-lendar .pika-next {
  width: auto;
  text-indent: 0;
  padding: 0 4px;
  border-radius: 3px;
  background-image: none;
  text-decoration: underline;
}
.pika-lendar .pika-prev:hover,
.pika-lendar .pika-next:hover {
  color: #4d4d4d;
  background-color: #d6dadc;
}
.pika-lendar .pika-select-month,
.pika-lendar .pika-select-year {
  padding: 0 4px;
  border-radius: 3px;
  text-decoration: underline;
}
.pika-lendar .pika-select-month:hover,
.pika-lendar .pika-select-year:hover {
  color: #4d4d4d;
  background-color: #d6dadc;
}
.pika-lendar table {
  border-collapse: collapse;
  border-spacing: 0;
}
.pika-lendar th,
.pika-lendar td {
  font-size: 14px;
  text-align: center;
  border: 1px solid #d6dadc;
}
.pika-lendar th {
  color: #4d4d4d;
}
.pika-lendar .pika-button {
  line-height: 22px;
  font-size: 14px;
  text-align: center;
  border-radius: 0;
}
.pika-lendar .pika-button:hover {
  background-color: #d6dadc;
}
.pika-lendar .is-selected .pika-button {
  color: #fff;
  background: #0079bf;
}
.pika-lendar .is-selected .pika-button:hover {
  opacity: 0.5;
}
.card-label-edit-pop-over .card-label-name {
  display: block;
  width: 100%;
  padding: 7px;
  margin: 4px 0 9pt;
  border: 1px solid #cdd2d4;
  border-color: #a5acb0;
  background-color: #e2e4e6;
  border-radius: 3px;
  margin-bottom: 9pt;
}
.card-label-edit-pop-over .card-label-name:hover {
  background: #fff;
}
.card-label-edit-pop-over .card-label-color-list {
  display: inline;
}
.card-label-edit-pop-over .card-label-color-list .label-edit-color-btn {
  display: inline-block;
  width: 45px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  border-radius: 3px;
  margin: 5px;
  cursor: pointer;
  vertical-align: top;
}
.card-label-edit-pop-over .card-label-color-list .label-edit-color-btn:hover {
  opacity: 0.5;
}
.card-label-edit-pop-over .card-label-color-list .label-edit-color-btn .icon-check {
  display: none;
}
.card-label-edit-pop-over .card-label-color-list .label-edit-color-btn.selected .icon-check {
  display: inline-block;
  color: #fff;
}
.card-label-edit-pop-over .nocolor-notes {
  width: 200px;
  display: inline-block;
  vertical-align: top;
}
.card-label-edit-pop-over .label-edit-save {
  outline: 0;
  border: 0;
  background: linear-gradient(to bottom, #61bd4f 0, #5aac44 100%);
  box-shadow: 0 1px 0 #3f6f21;
  color: #fff;
}
.card-label-edit-pop-over .label-edit-save:hover {
  background: linear-gradient(#5aac44 0%, #519839 100%);
}
.card-label-edit-pop-over .label-edit-delete {
  float: right;
}
.card-label-delete-pop-over .label-delete-confirm {
  width: 100%;
}
.list-placeholder {
  background: #0067a3;
  min-height: 75px;
  transform: none;
}
.card-placeholder {
  background: #c4c9cc;
  min-height: 20px;
  transform: none;
}
.dragging {
  transform: rotate(5deg);
}
.board-menu {
  position: absolute;
  width: 305px;
  top: 40px;
  right: 0;
  bottom: 30px;
  z-index: 30;
  box-shadow: 0 0 6px rgba(0,0,0,0.4);
  background: #edeff0;
  overflow: auto;
}
.board-menu .board-menu-header-title {
  line-height: 20px;
  margin: 13px 30px;
  text-align: center;
}
.board-menu .board-menu-header-close-button {
  position: absolute;
  top: 10px;
  right: 10px;
}
.board-menu .board-menu-content {
  padding: 8px;
}
.board-menu .board-menu-navigation-item {
  border-radius: 3px;
  display: block;
  font-weight: 700;
  line-height: 20px;
  padding: 6px;
  position: relative;
  cursor: pointer;
}
.board-menu .board-menu-navigation-item:hover {
  background-color: #d6dadc;
}
.board-menu .board-menu-activities {
  margin-left: 40px;
}
.board-menu .board-menu-activities li {
  padding: 10px 0;
}
.board-menu .board-menu-activities li + li {
  border-top: 1px solid #e2e4e6;
}
.board-menu .board-menu-activities p {
  display: inline-block;
}
.board-menu .board-menu-activities .indent {
  margin-left: -40px;
}
.notification {
  position: absolute;
  width: 450px;
  max-height: 600px;
  top: 40px;
  right: 5px;
  z-index: 30;
  box-shadow: 0 0 6px rgba(0,0,0,0.4);
  background: #edeff0;
  overflow: auto;
}
.notification .notification-header-title {
  line-height: 20px;
  margin: 13px 30px;
  text-align: center;
}
.notification .notification-header-close-button {
  position: absolute;
  top: 10px;
  right: 10px;
}
.notification .notification-content {
  padding: 8px;
}
.notification .notification-content .notification-activities {
  margin-left: 40px;
}
.notification .notification-content .notification-activities li {
  padding: 10px 0;
}
.notification .notification-content .notification-activities li + li {
  border-top: 1px solid #e2e4e6;
}
.notification .notification-content .notification-activities p {
  display: inline-block;
}
.notification .notification-content .notification-activities .indent {
  margin-left: -40px;
}
.card-copy-pop-over textarea,
.card-move-pop-over textarea,
.list-add-pop-over textarea,
.list-copy-pop-over textarea,
.list-move-pop-over textarea {
  width: 100%;
  display: block;
  background: #e2e4e6;
}
.card-copy-pop-over textarea:focus,
.card-move-pop-over textarea:focus,
.list-add-pop-over textarea:focus,
.list-copy-pop-over textarea:focus,
.list-move-pop-over textarea:focus {
  background: #fff;
}
.card-copy-pop-over input[type="checkbox"],
.card-move-pop-over input[type="checkbox"],
.list-add-pop-over input[type="checkbox"],
.list-copy-pop-over input[type="checkbox"],
.list-move-pop-over input[type="checkbox"] {
  vertical-align: middle;
}
.card-copy-pop-over input[type="text"],
.card-move-pop-over input[type="text"],
.list-add-pop-over input[type="text"],
.list-copy-pop-over input[type="text"],
.list-move-pop-over input[type="text"] {
  display: block;
  padding: 3px;
  background-color: #fff;
  border: 1px solid #cdd2d4;
  border-radius: 3px;
}
.card-copy-pop-over p,
.card-move-pop-over p,
.list-add-pop-over p,
.list-copy-pop-over p,
.list-move-pop-over p {
  margin: 0 0 5px 0;
}
.card-copy-pop-over .left,
.card-move-pop-over .left,
.list-add-pop-over .left,
.list-copy-pop-over .left,
.list-move-pop-over .left {
  width: 200px;
  float: left;
}
.card-copy-pop-over .right,
.card-move-pop-over .right,
.list-add-pop-over .right,
.list-copy-pop-over .right,
.list-move-pop-over .right {
  width: 75px;
  float: right;
}
.card-copy-pop-over .button-link,
.card-move-pop-over .button-link,
.list-add-pop-over .button-link,
.list-copy-pop-over .button-link,
.list-move-pop-over .button-link {
  position: relative;
  height: 50px;
  cursor: pointer;
  padding: 5px;
  border: 1px solid #e2e4e6;
  border-radius: 3px;
  background: linear-gradient(to bottom, #fff 0, #f8f9f9 100%);
}
.card-copy-pop-over .button-link:hover,
.card-move-pop-over .button-link:hover,
.list-add-pop-over .button-link:hover,
.list-copy-pop-over .button-link:hover,
.list-move-pop-over .button-link:hover {
  background: #298fca;
  color: #fff;
}
.card-copy-pop-over .button-link label,
.card-move-pop-over .button-link label,
.list-add-pop-over .button-link label,
.list-copy-pop-over .button-link label,
.list-move-pop-over .button-link label {
  display: block;
}
.card-copy-pop-over .button-link p,
.card-move-pop-over .button-link p,
.list-add-pop-over .button-link p,
.list-copy-pop-over .button-link p,
.list-move-pop-over .button-link p {
  font-size: 18px;
  font-weight: bold;
}
.card-copy-pop-over .button-link select,
.card-move-pop-over .button-link select,
.list-add-pop-over .button-link select,
.list-copy-pop-over .button-link select,
.list-move-pop-over .button-link select {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  width: 100%;
  height: 50px;
  opacity: 0;
  z-index: 2;
  border: none;
  cursor: pointer;
}
.pop-over input[type="submit"] {
  display: inline-block;
  color: #fff;
  line-height: 22px;
  font-weight: 700;
  text-align: center;
  padding: 7px 20px;
  margin: 8px 4px 8px 0;
  border-radius: 3px;
  cursor: pointer;
}
