@import "whitespace-reset.css";
@import "./3rd/icons.css";
.header-btn {
  display: inline-block;
  height: 30px;
  width: 30px;
  text-align: center;
  border-radius: 3px;
  margin-right: 8px;
  background-color: #0079bf;
  vertical-align: top;
}
.header-btn:hover {
  cursor: pointer;
  color: #fff;
  background: linear-gradient(to bottom, rgba(255,255,255,0.4) 0, rgba(255,255,255,0.3) 100%);
}
.user-initials {
  display: inline-block;
  height: 30px;
  width: 30px;
  text-align: center;
  border-radius: 3px;
  margin-right: 8px;
  background-color: #cdd2d4;
  vertical-align: top;
}
.user-initials:before {
  content: "K";
  color: #4d4d4d;
  font-size: 16px;
  height: 30px;
  line-height: 30px;
}
.header-brand {
  display: inline-block;
  height: 30px;
  width: 80px;
  margin: 0 auto;
  background-image: url("/images/header-logo.png");
  background-color: transparent;
}
.dark-hover:hover {
  background: #cdd2d4;
}
.badge-text {
  font-size: 9pt;
  padding: 0 2px;
  white-space: nowrap;
}
.comment-input {
  background: 0 0;
  width: 100%;
  height: 75px;
  margin: 0;
  min-height: 75px;
  border: 0;
  background: #fff;
}
.comment-input:focus,
.comment-input:active {
  outline: 0;
  box-shadow: none;
}
.card-modal-btn {
  display: inline-block;
  color: #fff;
  line-height: 22px;
  font-weight: 700;
  text-align: center;
  padding: 7px 20px;
  margin: 8px 4px 0 0;
  border-radius: 3px;
  cursor: pointer;
}
.card-modal-label {
  display: inline-block;
  color: #fff;
  line-height: 22px;
  font-weight: 700;
  text-align: center;
  padding: 4px 10px;
  margin: 0px 4px 4px 0;
  border-radius: 3px;
  cursor: pointer;
  vertical-align: top;
}
.card-modal-label:hover {
  opacity: 0.8;
}
.card-modal-add-label {
  display: inline-block;
  color: #8c8c8c;
  border-radius: 3px;
  background: #e2e4e6;
  vertical-align: top;
  cursor: pointer;
}
.card-modal-add-label:hover {
  background: #d6dadc;
  border-radius: 3px;
}
/* box-sizing reset */
html {
  box-sizing: border-box;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}
/* native implementationi reset */
textarea,
input,
button,
select {
  font-family: inherit;
  font-size: inherit;
}
html {
  color: #4d4d4d;
  font: 14px "Helvetica Neue", Arial, Helvetica, sans-serif;
  line-height: 18px;
  background: #026aa7;
}
a {
  text-decoration: none;
}
a:active,
a:hover {
  outline: 0;
}
.float-right {
  float: right;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.6);
  z-index: 20;
}
textarea {
  padding: 9px 11px 0;
  border-radius: 3px;
  resize: none;
  transition: background 85ms ease-in, border-color 85ms ease-in;
}
input[type="submit"] {
  outline: 0;
  border: 0;
  background: linear-gradient(to bottom, #61bd4f 0, #5aac44 100%);
  box-shadow: 0 1px 0 #3f6f21;
  color: #fff;
}
input[type="submit"]:hover {
  background: linear-gradient(#5aac44 0%, #519839 100%);
}
li {
  list-style: none;
}
#application {
  margin: 0 auto;
}
#application > header {
  position: relative;
  height: 40px;
  color: #c4c9cc;
  padding: 5px;
  overflow: hidden;
  background: #0067a3;
  z-index: 10;
}
#board {
  position: absolute;
  top: 30px;
  right: 0;
  bottom: 0;
  left: 0;
  color: #4d4d4d;
  padding-bottom: 10px;
  margin-bottom: 10px;
  overflow-x: auto;
  overflow-y: hidden;
  user-select: none;
  white-space: nowrap;
  background: #0079bf;
}
#board > header {
  position: relative;
  color: #fff;
  padding: 8px 4px 8px 8px;
  overflow: hidden;
}
#lists {
  margin: 10px;
  width: 100%;
  height: 100%;
}
.list {
  position: relative;
  display: inline-block;
  color: #4d4d4d;
  width: 270px;
  max-height: 100%;
  border-radius: 3px;
  vertical-align: top;
  flex-direction: column;
  background: #e2e4e6;
}
.list + .list {
  margin-left: 10px;
}
.list > header {
  position: relative;
  padding: 8px 10px;
  min-height: 18px;
}
.list .list-ops {
  position: absolute;
  right: 4px;
  top: 4px;
  z-index: 20;
}
.list .list-btn {
  border-radius: 3px;
}
.list .cards {
  padding: 0 4px;
  margin: 0 4px;
}
.list > a {
  display: block;
  padding: 8px 10px;
  color: #4d4d4d;
  text-decoration: none;
}
.list > a:hover {
  text-decoration: underline;
}
.card {
  position: relative;
  max-width: 300px;
  min-height: 20px;
  color: #4d4d4d;
  padding: 6px 6px 2px 8px;
  border-radius: 3px;
  border-bottom: 1px solid #ccc;
  background: #fff;
  margin-bottom: 6px;
  cursor: pointer;
  overflow: hidden;
  z-index: 10;
}
.card:hover {
  background: #edeff0;
}
.card .card-ops {
  position: absolute;
  right: 4px;
  top: 4px;
  z-index: 20;
}
.card .card-ops .card-edit {
  border-radius: 3px;
}
.card > header {
  position: relative;
  overflow: hidden;
}
.card .label {
  float: left;
  color: #fff;
  height: 8px;
  padding: 3px 6px;
  margin: 0 3px 3px 0;
  width: 42px;
  max-width: 100%;
  border-radius: 3px;
  text-overflow: ellipsis;
}
.card .name {
  margin: 0 0 4px 0;
}
.card .badge {
  display: inline-block;
  max-width: 100%;
  color: #8c8c8c;
  padding: 1px 2px;
  margin: 0 4px 4px 0;
  overflow: hidden;
  text-decoration: none;
  vertical-align: top;
}
.card .badge.past {
  border-radius: 3px;
  background-color: #ec9488;
}
.card .badge.past span {
  color: #fff;
}
.card-modal {
  position: relative;
  width: 730px;
  border-radius: 3px;
  margin: 10px auto;
  background-color: #edeff0;
  overflow: hidden;
  z-index: 25;
}
.card-modal > header,
.card-modal main {
  margin-left: 38px;
}
.card-modal .indent {
  margin-left: -38px;
}
.card-modal section {
  margin-bottom: 20px;
}
.card-modal h2 {
  height: 30px;
  line-height: 30px;
  font-size: 18px;
  font-weight: 700;
}
.card-modal h2 span:last-child {
  margin-left: 8px;
}
.card-modal h3 {
  color: #8c8c8c;
  font-weight: normal;
  margin-bottom: 10px;
}
.card-modal p {
  color: #8c8c8c;
}
.card-modal > header {
  padding: 8px 12px;
  margin-right: 4px;
}
.card-modal > header a {
  color: #8c8c8c;
  cursor: pointer;
  text-decoration: underline;
}
.card-modal > main {
  float: left;
  width: 530px;
  color: #4d4d4d;
  padding: 8px 12px;
}
.card-modal > main .labels {
  margin-right: 28px;
  margin-bottom: 16px;
}
.card-modal > main .description h3 {
  display: inline-block;
  margin-right: 10px;
}
.card-modal > main .description a {
  color: #8c8c8c;
  cursor: pointer;
  text-decoration: underline;
}
.card-modal > main .card-modal-edit-description {
  display: block;
  width: 100%;
  height: 30px;
  line-height: 30px;
  cursor: pointer;
  text-decoration: underline;
}
.card-modal > main .card-modal-edit-description:hover {
  background: #d6dadc;
  border-radius: 3px;
}
.card-modal > sidebar {
  float: right;
  padding: 8px 12px;
  width: 160px;
  overflow: hidden;
  z-index: 10;
}
.card-modal > sidebar .card-modal-btn-link {
  position: relative;
  display: block;
  font-weight: 700;
  padding: 7px;
  margin-top: 6px;
  border-radius: 3px;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
  background: linear-gradient(to bottom, #fff 0, #f8f9f9 100%);
}
.card-modal > sidebar .card-modal-btn-link:hover {
  background: #298fca;
}
