include _mixins
doctype html
html
  head
    title Todo App
    link(rel="shortcut icon" href="/favicon.ico" type="image/x-icon")
    +stylesheet_link_tag("style")
    +javascript_include_tag("vendor/all")
    +javascript_include_tag("handlebars_templates")
  body
    main
      block content
    +javascript_include_tag("application")
    +javascript_include_tag("models/todo", "models/group")
    +javascript_include_tag("collections/todos")
    +javascript_include_tag("views/index", "views/todo", "views/group")
    script(type="text/javascript").
      App.todos  = new Todos(!{JSON.stringify(todos)});
      App.indexView();
