<div class="pop-over card-move-pop-over">
  <div class="pop-over-header">
    <span class="pop-over-header-title">Move Card</span>
    <a href="#" class="pop-over-header-close-btn icon-sm icon-close"></a>
  </div>
  <div class="pop-over-content">
    <form action="">
      <div class="button-link left">
        <label>List</label>
        <p class="list-value"></p>
        <select class="select-list">
          {{#each lists}}
            <option value="{{id}}">{{name}}</option>
          {{/each}}
        </select>
      </div>
      <div class="button-link right">
        <label>Position</label>
        <p class="position-value"></p>
        <select class="select-position">
          {{#each lists}}
            <option>{{@index}}</option>
          {{/each}}
        </select>
      </div>
      <input class="card-move-submit" type="submit" value="Move">
    </form>
  </div>
</div>