<div class="pop-over card-label-pop-over"> 
  <div class="pop-over-header">
    <span class="pop-over-header-title">Labels</span>
    <a href="#" class="pop-over-header-close-btn icon-sm icon-close"></a>
  </div>
  <div class="pop-over-content">
    <input type="text" id="pika-datepicker">
    <div id="pika-container"></div>
  </div>
</div>