<div class="pop-over card-label-delete-pop-over"> 
  <div class="pop-over-header">
    <a href="#" class="pop-over-header-back-btn icon-sm icon-back"></a>
    <span class="pop-over-header-title">Delete Label?</span>
    <a href="#" class="pop-over-header-close-btn icon-sm icon-close"></a>
  </div>
  <div class="pop-over-content">
    <p>There is no undo. This will remove this label from all cards and destroy its history.</p>
    <div>
      <input class="card-modal-btn label-delete-confirm" type="reset" value="Delete">
    </div>
  </div>
</div>