<header>
  <h2>{{name}}</h2>
  <div class="list-ops">
    {{#if subscribed}}
    <span class="icon-sm icon-subscribe"></span>
    {{/if}}
    <a href="#" class="list-btn icon-sm dark-hover icon-overflow-menu-horizontal open-list-actions"></a>
  </div>
</header>
<div class="cards"></div>
<a href="#" class="list-btn dark-hover open-card-composer">Add a card...</a>
