<header>
  <h2 class="list-name-text">{{name}}</h2>
  <textarea class="list-name-input" spellcheck="false" maxlength="512" style=""></textarea>
  <div class="list-name-input-hiddendiv"></div>
  <div class="list-ops">
    {{#if subscribed}}
    <span class="icon-sm icon-subscribe"></span>
    {{/if}}
    <a href="#" class="list-btn icon-sm dark-hover icon-overflow-menu-horizontal open-list-actions"></a>
  </div>
</header>
<div class="cards-wrapper">
  <div class="cards"></div>
</div>
<a href="#" class="list-btn dark-hover open-card-composer">Add a card...</a>
