<div class="pop-over list-actions-pop-over"> 
  <div class="pop-over-header">
    <span class="pop-over-header-title">List Actions</span>
    <a href="#" class="pop-over-header-close-btn icon-sm icon-close"></a>
  </div>
  <div class="pop-over-content">
    <ul class="actions">
      <li><a class="list-actions-add-card" href="#">Add Card...</a></li>
      <li><a class="list-actions-copy-list" href="#">Copy List...</a></li>
      <li><a class="list-actions-move-list" href="#">Move List...</a></li>
      <li>
        <a class="highlight-icon list-actions-subscribe" href="#">Subscribe&nbsp;
          {{#if subscribed}}
          <span class="icon-sm icon-check"></span>
          {{/if}}
        </a>
      </li>
    </ul>
    <hr>
    <ul class="actions">
      <li><a class="list-actions-move-cards" href="#">Move All Cards in This List...</a></li>
      <li><a class="list-actions-archive-cards" href="#">Archive All Cards in This List...</a></li>
    </ul>
    <hr>
    <ul class="actions">
      <li><a class="list-actions-archive-list" href="#">Archive This List</a></li>
    </ul>
  </div>
</div>