<div class="pop-over list-copy-pop-over">
  <div class="pop-over-header">
    <span class="pop-over-header-title">Copy List</span>
    <a href="#" class="pop-over-header-close-btn icon-sm icon-close"></a>
  </div>
  <div class="pop-over-content">
    <form>
      <p><strong>Name</strong></p>
      <textarea class="js-autofocus" name="name">{{name}}</textarea>
      <input class="list-copy-submit" type="submit" value="Create List">
    </form>
  </div>
</div>