<header>
  <h2>{{name}}</h2>
  <div class="list-ops">
    {{#if subscribed}}
    <span class="subscribed">*-*</span>
    {{/if}}
    <a href="#">...</a>
  </div>
</header>
<div class="cards"></div>
<a href="#" class="open-card-composer">Add a card...</a>
