<div class="pop-over list-move-pop-over">
  <div class="pop-over-header">
    <span class="pop-over-header-title">Move List</span>
    <a href="#" class="pop-over-header-close-btn icon-sm icon-close"></a>
  </div>
  <div class="pop-over-content">
    <form action="">
      <div class="button-link">
        <label>Position</label>
        <p class="position-value"></p>
        <select class="select-position">

        </select>
      </div>
      <input class="list-move-submit" type="submit" value="Move">
    </form>
  </div>
</div>