<div class="search-bar">
  <input class="search-input" type="text">
  <div class="float-right">
    <span class="search-start icon-search icon-lg light"></span>
    <span class="search-close icon-lg icon-close light"></span>
  </div>
</div>
