extends layout

block content

  div#application
    div#wrapper
      header
        div#logo
        div#cart-info

      main
        div#cart-detail

      footer 
        p This is a practice project for learning purpose only
