include _mixins
doctype html
html
  head
    title SUSHI
    +stylesheet_link_tag("style")
    +javascript_include_tag("vendor/all")
    +javascript_include_tag("handlebars_templates")
  body
    block content
    +javascript_include_tag("application")
    +javascript_include_tag("models/menu_item")
    +javascript_include_tag("collections/menu")
    +javascript_include_tag("views/menu", "views/menu_detail")
    script(type="text/javascript").
      App.menu_items  = new Menu(!{JSON.stringify(menu_items)});
      App.init();
