include _mixins
doctype html
html
  head
    title SUSHI
    +stylesheet_link_tag("style")
    +javascript_include_tag("vendor/all")
    +javascript_include_tag("handlebars_templates")
  body
    div#application
      div#wrapper
        header
          div
            div#logo
            div#cart-info
          div#cart-detail
        main
          div#menu
          div#menu-detail
        footer 
          p This is a practice project for learning purpose only  

    +javascript_include_tag("application")
    +javascript_include_tag("router")
    +javascript_include_tag("models/menu_item")
    +javascript_include_tag("collections/menu", "collections/cart")
    +javascript_include_tag("views/menu", "views/menu_detail", "views/cart_info", "views/cart_detail")
    script(type="text/javascript").
      App.menu_items  = new Menu(!{JSON.stringify(menu_items)});
      App.init();
