include _mixins
doctype html
html
  head
    title Trello Lite 
    link(rel="shortcut icon" href="/favicon.ico")
    +stylesheet_link_tag("style")
    +javascript_include_tag("vendor/all")
    +javascript_include_tag("handlebars_templates")
  body
    div#application
      header
        a.header-btn
          span.icon-board.icon-lg.light
        a.header-btn
          span.icon-search.icon-lg.light
        a.header-brand
        div.float-right
          a.header-btn
            span.icon-add.icon-lg.light
          a.header-btn.user-initials
          a.header-btn
            span.icon-information.icon-lg.light
          a.header-btn
            span.icon-notification.icon-lg.light
      div#board
        header
        div#lists

    +javascript_include_tag("application")
    +javascript_include_tag("models/card")
    +javascript_include_tag("collections/list")
    +javascript_include_tag("views/list", "views/card")
    script(type="text/javascript").
      App.board = !{JSON.stringify(lists)};
      App.labels = !{JSON.stringify(labels)};
      App.init();
