<div id="modal_background"></div>
<div id="modal_form">
  <form method="post" action="/todos">
    <fieldset>
      <div>
        <label>Title</label>
        <input type="hidden" name="cid" value="{{cid}}">
        <input type="hidden" name="completed" value="{{completed}}">
        <input type="text" name="title" value="{{title}}">
      </div>
      <div>
        <label>Due Date</label>
        <div class="three-columns">
        <select name="day" size="1">
          {{#select day}}
          <option value="0">Day</option> 
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
          <option value="9">9</option>
          <option value="10">10</option>
          <option value="11">11</option>
          <option value="12">12</option>
          <option value="13">13</option>
          <option value="14">14</option>
          <option value="15">15</option>
          <option value="16">16</option>
          <option value="17">17</option>
          <option value="18">18</option>
          <option value="19">19</option>
          <option value="20">20</option>
          <option value="21">21</option>
          <option value="22">22</option>
          <option value="23">23</option>
          <option value="24">24</option>
          <option value="25">25</option>
          <option value="26">26</option>
          <option value="27">27</option>
          <option value="28">28</option>
          <option value="29">29</option>
          <option value="30">30</option>
          <option value="31">31</option>
          {{/select}}
        </select>
          <span>/</span>
          <select name="month" size="1">
            {{#select month}}
            <option value="0">Month</option>
            <option value="1">January</option>
            <option value="2">February</option>
            <option value="3">March</option>
            <option value="4">April</option>
            <option value="5">May</option>
            <option value="6">June</option>
            <option value="7">July</option>
            <option value="8">August</option>
            <option value="9">September</option>
            <option value="10">October</option>
            <option value="11">November</option>
            <option value="12">December</option>
            {{/select}}
          </select>
          <span>/</span>
          <select name="year" size="1"> 
            {{#select year}}
            <option value="0">Year</option>
            <option value="2016">2016</option>
            <option value="2017">2017</option>
            <option value="2018">2018</option>
            <option value="2019">2019</option>
            <option value="2020">2020</option>
            <option value="2021">2021</option>
            {{/select}}
          </select>
        </div>
      </div>
      <div class="task-description">
        <label>Description</label>
        <textarea name="description" cols="30" rows="10" placeholder="Description" value="{{description}}"></textarea>
      </div>
      <div>
        <input type="submit" value="Save">
        <input type="button" value="Mark As Complete">
      </div>
    </fieldset>
  </form>
</div>