<div id="columns">
  <input type="checkbox" id="sidebar-toggle"/>  
  <label for="sidebar-toggle" id="menu"></label>  
  <div id="sidebar">
  </div>
  <div id="content">
    <h2><span class="title">{{content_title}}</span><span class="badge active">{{content_total}}</span></h2>
    <p class="add"><a href="#">Add new to do</a></p> 
    <!--todos-->
    <table>
      <tbody id="todos"></tbody>
    </table>    
    <div id="modal_background"></div>
    <div id="modal_form"></div>
  </div>
</div>