<div id="columns">
  <input type="checkbox" id="sidebar-toggle"/>  
  <label for="sidebar-toggle" id="menu"></label>  
  <div id="sidebar">
    <section class="all">
      <h1 class="group">All Todos<span class="badge"></span></h1>
      <ul></ul>
    </section>
    <section class="completed">
      <h1 class="group">Completed<span class="badge"></span></h1>
      <ul></ul>
    </section>
  </div>
  <div id="content">
    <h2><span class="title">All Todos</span><span class="badge active"></span></h2>
    <p class="add"><a href="#">Add new to do</a></p> 
    <!--todos-->
    <table>
      <tbody id="todos">

      </tbody>
    </table>    
    <div id="modal_background"></div>
    <div id="modal_form"></div>
  </div>
</div>