@import "whitespace-reset.css"
@import "mixins"

basics()
//
// layout
//
#application
  margin: 50px 0 50px 0

#application #wrapper
  max-width: 1000px
  min-width: 300px
  min-height: 800px
  margin:  0 auto

#application header,
#application main,
#application footer 
  width: 100%

#logo
  display: inline-block
  height: 80px
  width: 140px
  padding: 0 0 40px 0
  background: url("images/logo.png") no-repeat

// 
// cart
// 
#cart-info
  float: right
  height: 28px
  line-height: 28px
  vertical-align: middle
  font-size: 10px
  text-transform: uppercase
  background-color: #000000
  padding-left: 10px
  letter-spacing: 1px
  a
    color: #bababa

#cart-detail
  margin-bottom: 20px
  background: #000
  > ul
    display: inline-block
    width: 800px
    vertical-align: top
    .cart-item
      display: inline-block
      width: 100px
      .mask
        position: absolute
        display: none
        content: ""
        top: 0
        left: 0
        width: 100px
        height: 100px      
      img
        position: relative
        width: 100%
        &:hover
          cursor: pointer
          & + .mask
            top: 0
            left: 0
            width: 100px
            height: 100px               
            display: block
            border: 1px solid red
            background: rgba(0,0,0,0.8) url("./images/remove-icon.png") center center no-repeat
      p 
        display: inline-block
        padding: 2px 0
        span
          font-size: 10px
  > div 
    display: inline-block
    width: 200px
    padding 20px 5px 5px 15px
    background: #1f1f1f
    p 
      color: #bababa
      font-size: 10px
      text-transform: uppercase
      margin-bottom: 5px
    .price 
      padding: 10px 0
      font-size: 20px
      text-transform: uppercase
    div
      font-size: 10px
      text-transform: uppercase
      color: colors.cart.bg
      background: #1f1f1f
      vertical-align: middle
      #empty
        color: colors.cart.bg
      .angle-button
        padding: 0 10px 0 28px
        &:before
          border-top: 14px solid #1f1f1f;
          border-left: 14px solid #1f1f1f;

//
// menu 
// 
.menu-item
  position relative
  display: inline-block
  width: 200px
  text-align: center
  margin-bottom: 20px
  background: colors.menu.bg
  + .menu-item
    border-left: 1px solid colors.menu.border
  .info .mask
    position: absolute
    display: none
    content: ""
    top: 0
    left: 0
    width: 200px
    height: 200px
  .info:hover
    cursor: pointer
    h3
      color: colors.menu.nameHover
    .mask
      display: block
      background: rgba(0,0,0,0.8) url("./images/arrow-right.png") center center no-repeat
  img
    margin: 0 0 30px 0
  h3
    color: colors.menu.name
    margin: 0 0 10px 0
  p
    color: colors.menu.price
    margin: 0 0 10px 0
  a.add-to-cart
    display: block
    height: 37px
    line-height: 37px
    font-size: 0.8em
    color: colors.menu.button.text
    border-top: 1px dotted colors.menu.border
    text-transform: uppercase
    &:hover
      color: colors.menu.button.textHover
      background: colors.menu.button.bgHover


//
// menu detail
//

#menu-detail
  display: none
  width: 1000px
  z-index: 1
  top: 130px
  left: 0
  right: 0
  bottom: 0
  padding: 200px 0
  background: transparent url("./images/sushi-preview.png") 0 0 no-repeat
  .badge
    height: 200px;
    vertical-align: top
    > .prev,
    > .next,
    > .img,
    > .description
    > .nutrition
      height: 200px
      display: inline-block
      vertical-align: top
    .prev
    .next
      width: 100px
      &:hover
        background-color: colors.detail.navHover
    .prev
      background: colors.detail.nav url('./images/nav-prev.png') center center no-repeat
    .next
      background: colors.detail.nav url('./images/nav-next.png') center center  no-repeat
    .img
      width: 200px
    .description
      width: 400px
      color:#000
      border-right: 1px solid #888
      background: colors.detail.bg
      div:first-child
        height: 120px
        padding: 20px
        border-bottom: 1px dotted #888
        h3
          font-size: 1.6em
          padding: 20px 0 10px 0
        p
          color: colors.detail.price
      div:last-child
        height: 80px
        padding: 20px
        .price
          display: inline-block
          font-size: 1.7em
          color: colors.detail.price
          vertical-align: middle
        .add-to-cart
          float: right
          display: inline-block
          height: 30px
          line-height: 30px
          width: 111px
          vertical-align: middle
          color: #fff
          font-size: 12px
          text-align: center
          text-transform: uppercase
          background: colors.detail.button
          &:hover
            background: linear-gradient(to bottom, rgba(169,0,64,1) 0%,rgba(214,0,65,1) 100%);
    .nutrition
      padding: 20px 10px
      width: 200px
      color:#000
      background: colors.detail.bg
      h4
        margin-bottom: 20px
      li 
        font-size: 0.8em
        color: colors.detail.price
        padding 2px 0
        span
          float: right
//
// footer
//
#application footer
  color: colors.footer.text
  font-size: 0.8em
  p 
    margin: 5px 0 5px 0
